<div class="navbar-fixed" >

    <nav class="blue lighten-1 z-depth-3 " >
        <div class="nav-wrapper">
            <a href="https://www.jansengoyena.xyz" style="margin-left:1%" class="brand-logo left hide-on-small-only teal-text text-accent-1">Jansen Goyena</a>
            <ul id="nav-mobile " class="right">
                <li><a class="white-text" href="/blogs">Blogs</a></li>
                <li><a class="white-text" href="/resume">Resume</a></li>
                <li><a class="white-text" href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>