.author-sidebar{
 filter: grayscale(25%);
}

.author-sidebar:hover{
filter: grayscale(0%);
}


.author-img{
 filter: grayscale(50%);
}

.author-img:hover{
filter: grayscale(0%);
}

.a:hover{
 text-decoration: none;
}

.bg_home {
    background-image: url('/assets/img/home_bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}
/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress {
	height: 4px;
	border-radius: 0;
	box-shadow: none;
	background: #c8c8c8;
}
.progress .progress-bar, .progress .progress-bar-default {
	background-color: #0277bd;
}
.progress-bar {
	box-shadow: none;
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
