---
layout: default
---

<div class="section scrollspy blue lighten-5" id="top">
    <div class="container row section">
        <div class="col s12 ">
            <div class="col s12 push-m8 push-l8 m4 l4 center">
                <img class="circle z-depth-1 responsive-img" src="assets/img/profile_picture_2025.jpg" width="200"
                     height="200">
            </div>
            <div class="col s12 pull-m4 pull-l4 m8 l8 center-align     section ">
                <h2 class="blue-text text-darken-3">{{site.author.name}}</h2>
                <h5 class="grey-text text-darken-2 ">{{site.author.position}}</h5>
                <h6 class="grey-text text-darken-2">I can do all things through Christ who strengthens me</h6>

            </div>
        </div>
    </div>
</div>


<div class="row section blue lighten-5">
    <h4 class="center teal-text text-accent-5 text-darken-2"> ABOUT ME</h4>
    <div class="container flow-text grey-text text-darken-1">
        <p>
            Hello there! My name is Jansen. I am passionate in Mulesoft and Java development. I have more than 8 years
            of commercial enterprise development experience as a Software Engineer/Developer working on either Mulesoft
            or Java/Spring boot applications. During my career, I had developed and successfully deployed multiple
            integration services and applications.

        </p>
        <p>
            Most of my projects are back-end services and API integrations. For the past 2 years, I have been leading a
            small team to support Mulesoft applications and lead developers in migrating Mulesoft applications from 3.9
            to 4.4. For the past few months, I have been focusing on my personal improvements including renovating my
            house and having a healthy diet.
        </p>
        <p>
            I am eager to go back to development as this is one of my strength and I can solve any integration projects
            client wants to complete. If you are looking for Mulesoft Developer with strong background in Java, I will
            be able to help you/your company create solutions and solve problems. Please reach out on my email:
            jansen.goyena@gmail.com
        </p>
        <p>
            Certification:<br> <a
                href="https://training.mulesoft.com/award/certification/5896758c-40e4-3dc6-9774-6f5d95ba5e06">Mulesoft
            Certified Developer: Integration and API Associate</a>
            <br>
            <a href="https://www.youracclaim.com/badges/4d49d369-6b3e-43e8-a3d2-6c546dc653ca">Oracle Certified
                Associate, Java SE 8 Programmer</a>
        </p>


    </div>

</div>

<div class="row container ">
    <div class="col s12">
        <h4 class="center teal-text text-accent-5 text-darken-2"><i class="material-icons small">stars</i>
            Skills
        </h4>

    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <h5 class="center">
                        Server Side
                    </h5>

                    <li>Java 8</li>
                    <li>Spring Boot/Spring MVC</li>
                    <li>Mulesoft</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>Git</li>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <h5 class="center">
                        Data Layer
                    </h5>
                    <li>MySQL</li>
                    <li>Hibernate</li>
                    <li>JPA</li>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <h5 class="center">
                        Front End
                    </h5>
                    <li>Materializecss</li>
                    <li>JQuery</li>
                    <li>Javascript</li>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <h5 class="center">
                        Testing/Integration Test
                    </h5>
                    <br>
                    <li>Mockito</li>
                    <li>Mockserver</li>
                    <li>JUnit</li>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <h5 class="center">
                        Devops CI/CD
                    </h5>
                    <br>
                    <li>AWS CodePipeline</li>
                    <li>Travis CI</li>
                    <li>Linux Bash Scripting</li>
                    <li>Git version control</li>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row section blue lighten-4">
    <div class="container">
        <h4 class="center teal-text text-accent-5 text-darken-2">Recent Posts</h4>
        {% for post in site.posts limit:6 %}
        <div class="col s12 m6 l4">
            <div class="card small z-depth-2">
                <div class="card-content">
                    <a href="{{site.baseurl}}{{post.url}}"><span class="card-title grey-text text-darken-3">{{ post.title }}</span>
                    </a>
                    <p class="grey-text">{{post.description}}</p>
                </div>
                <div class="card-action">
                    <a href="{{site.baseurl}}{{ post.url }}">view</a>
                    <a href="#">share</a>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
<div class="section grey lighten-3">
    <div class="container center">
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        <p class="grey-text"> Jansen Goyena©2018</p>
    </div>
</div>
